body {
    margin: 1;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-image: url('');
}

html {
    box-sizing: border-box;
    background-image: url("../public/imgs/Untitled.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.navbar {
    flex-wrap: wrap;
    text-align: center;
    margin-top: 1rem;
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(174, 174, 174, 0.5);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.navbar a {
    float:inherit;
    color: #000;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
    border-color: #0bdeff;
    border-radius: 0.5rem;
}

.navbar a:hover {
    background-color: #dc32d9;
    color: black;
}

.navbar a.active {
    background-color: rgba(174,3,174,0.5);
    color: white;
}

.navbar .icon {
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    padding: 16px;
}

.sticky + .content {
    padding-top: 60px;
}

/*
    --------------------------------- Main Styling ---------------------------------
*/
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #FFF;
    border-radius: 2rem;
}

.hero-image .responsive {
    width: 100%;
    height: auto;
}

.hero-image h1 {
    padding-top: 2rem;
}

.hero-text {
    text-align: center;
}

#pronouns {
    font-style: italic;
}

#skills {
    font-style: italic;
}

/*
CSS for the contact me button, to make it look fluent
*/
.contact {
    border-radius: 4px;
    background-color: #c50ec5c8;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.992);
    border-color: rgba(0, 0, 0, 0.992);
    margin: 8px;
    background-color: rgba(0,0,0,0.4);
}

.card img {
    border-radius: 2rem;
    width: 50%;
    height: auto;
    margin: auto;
}

.about {
    padding: 50px;
    text-align: center;
    background-color: #474e5d64;
    border-radius: 2rem;
    color: white;
}

.projects {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #FFF;
    border-radius: 2rem;
}

.projects h2 {
    padding-top: 2rem;
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/*
The break class to create a sufficient gap between the hero image and the rest of the content
*/
.break {
    padding-top: 6rem;
}

/*
    Footer CSS - Centered
*/
.footer {
    padding: 10px;
    text-align: center;
    background-color: #474e5d64;
    border-radius: 2rem;
    color: white;
}

/*
    --------------------------------- Contact Page ---------------------------------
*/

 /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: rgba(174,3,174,0.5);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input {
    background-color: rgba(174,3,174,0.5);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea {
    background-color: rgba(174,3,174,0.5);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: rgb(174, 3, 174);
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: rgba(174, 174, 174, 0.5);
    padding: 20px;
} 